<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Writers Block</title>
    <link rel="icon" href="images/writerblocklogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6ffe9012a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <div class="header">
      <header>
        <h1 class ="title"><i class="fas fa-cubes"></i>WritersBlock</h1>
      </header>
    </div>

    <div class="date">
      

    </div>

  </body>
</html>
