<%-include('partials/header')-%>

    <link rel="stylesheet" href="css/styles.css">


  <body>
    <div class="header">
      <header>
        <a href="/dashboard" class ="title"><i class="fas fa-cubes"></i>WritersBlock</a>

      </header>
    </div>

    <div class="date-section">
      <h1 class ="date"><%= currentDay %></h1>
    </div>

    <div class ="prompt-section">
      <h1><%=todaysPrompt%></h1>
    </div>


    <div class="writing-area">
      <form class="" action="/index" method="post">
        <input class = "entry-title" type="text" name="writingTitle" value="" required placeholder="Title">
        <textarea class= "entry" name="writingContent" rows="25" cols="95" required placeholder="Don't think too much, just start..."></textarea>
        <button class = "finish-button" type="submit" name="button"><b>Finish</b></button>
      </form>
    </div>

  </body>
</html>
