<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Writers Block</title>
    <link rel="icon" href="images/writerblocklogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/6ffe9012a7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <div class="header">
      <header>
        <h1 class ="title"><i class="fas fa-cubes"></i>WritersBlock</h1>
      </header>
    </div>

    <div class="date-section">
      <h1 class ="date"><%= currentDay %></h1>
    </div>

    <div class ="prompt-section">
      <h1>A stranger sits down next to you on a train and gets up, leaving a package behind. Do you investigate the package?</h1>
    </div>


    <div class="writing-area">
      <form class="" action="index.html" method="post">
        <input class = "entry-title" type="text" name="" value="" required placeholder="Title">
        <textarea class= "entry"name="name" rows="25" cols="95" required placeholder="Don't think too much, just start..."></textarea>
        <button class = "finish-button" type="button" name="button"><b>Finish</b></button>
      </form>
    </div>

  </body>
</html>
