<%-include('partials/header')-%>

<link rel="stylesheet" href="css/styles.css"
</head>

<body>
  <div class="big-container">


      <div class="header-container top">
        <a href="/dashboard" class="title"><i class="fas fa-cubes"></i>WritersBlock</a>
        <a class = "logout-button" href="/logout">Log Out</a>
      </div>


    <div class="body-container">


      <div class="prompt-section">
        <h1 onload="this.form.submit()"><%=todaysPrompt%>   <a class="refresh-button" href="/index"><i class="fas fa-sync-alt"></i></a></h1>

      </div>


      <div class="writing-area">
        <form class="" action="/index" method="post">
          <input class="entry-title" type="text" name="writingTitle" required placeholder="Title" required>
          <textarea class="entry" name="writingContent" rows="25" cols="95" required placeholder="Don't think too much, just start..."></textarea>
          <button class="finish-button btton" type="submit" name="button"><b>Finish</b></button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
