<%-include('partials/header') -%>
    <link rel="stylesheet" href="css/registerStyles.css">
    <link rel="stylesheet" href="/css/loginStyles.css">
  </head>
  <body>



        <div class="outter-container">
            <div class="inside-container">
              <h1 class="reg-title wbt"><i class="fas fa-cubes"></i>WritersBlock</h1>


              <div class="login-block">
                <div class="title-container sizing">
                <h1 class = "reg-title" >Register</h1>
                </div>
                <div class="form-container sizing">


              <!-- Makes POST request to /register route -->
              <form action="/register" method="POST">
                <div class="form-group">

                  <input type="name" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">

                  <input type="email" class="form-control" name="username" placeholder="Email">
                </div>
                <div class="form-group">

                  <input type="password pword" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn-dark">Register</button>
              </form>
            </div>




          <div class=" socials-container sizing">

              <a class="socials-button r-google" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign Up with Google
              </a>


              <a class="socials-button fb-button r-facebook" href="/auth/facebook" role="button">
                <i class="fab fa-facebook"></i>
                Sign Up with Facebook
              </a>

          </div>
        </div>
        <div class="pencil">
        <img class="pencil-img" src="images/pencil.png" alt="pencil_img">
        </div>
      </div>
  </div>


  </body>
</html>
