.shared-writing{
  width: 50%;
  margin: auto;
  border-style: solid;
  border-color: #E2C2B9;
  padding: 3%;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

.edit{
  width: 3rem;
  height: 1.4rem;
  margin-left: 0;
  text-decoration: none;
}
h1{
  color: #5E454B;
}

.journal-date{
  color: #346751;
}

.page-title{
  text-align: center;
}
.save-button{
  display: inline-block;
  margin-left: 60%;

}
.publish-button{
  margin-left: 1%;
}
