body{
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  margin: 0;
}
.left-side{
  position: fixed;
  top: 5rem;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #7c9473;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

/* url("https://www.transparenttextures.com/patterns/lined-paper.png"); */
.right-side{
  margin-left: 300px;

}

.nav-bar-items{
  text-align: center;
  margin-top: 50%;
  color:#fff;
  font-size: 1.2rem;
}

.top{
  margin-left: 0;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #7c9473;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
}
.name{
  /* font-family:'Berkshire Swash', cursive; */
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 2rem 0 0 3rem;
  color: #fff;
}
.start-button{


  border-style: solid;
  padding: .5rem 3.5rem;
  border-radius: .5rem;
  border-width: thin;
}

a{
  color: #fff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.start-button:hover{
  background-color: #fff;
  color: #7c9473;
  border-color: #fff;
}

.nav-item{
display: block;
margin-top: 2rem;
}

.feed{
  padding: 8rem 6rem;
}

.shared-writing{
  border-style: solid;
  border-radius: 1rem;
  border-color: black;
  border-width: thin;
  margin:1rem;
  padding: 2rem;
}
