body{
  background-color: #fff;
  margin: 0;
  font-family: 'Raleway', sans-serif;
   background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.title{
  font-family: 'Berkshire Swash', cursive;
  color: #fff;
}
header{
  background-color: #7c9473;
  margin: auto -16px;
  padding: 2px 48px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)
}
