body{
  font-family: 'The Girl Next Door', cursive;
  padding: 0;
  margin: 0;
}
.big-container{
  position: relative;
  height: 100vh;
  width: 100vw;

}
.logout-button{
  color: #000;
  border-color: #fff;
  padding: 3px 15px;
  border-style: solid;
  border-width: thin;
  position: absolute;
  top:25%;
  left: 90%;
  display: inline-block;
  text-decoration: none;

}
.logout-button:hover{
  color: #fff;
}
.header-container{
  position:absolute;
  width: 100%;
  height: 10%;
  background-color: #CFDAC8;
}
.title{
  display: inline-block;
  font-size: 2rem;
  font-family: 'The Girl Next Door', cursive;
  color: black;
  margin-left: 2.5rem;
  text-decoration: none;
  margin-top:1rem;
}
.body-container{
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
}

.refresh-button{
  font-size: 1.1rem;
  color:#CFDAC8;
}

.prompt-section{
  top: 5%;
  text-align: center;
  height: 15%;
  width: 100%;
  position: absolute;
}
.writing-area{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 85%;
  top: 20%;
}
.entry-title{
  outline-color: #E2C2B9;
  height: 2rem;
  width: 50%;
  margin: 1% auto;
  display: block;
}
.entry{
  outline-color: #E2C2B9;
  resize: none;
  width: 50%;
  height: 30rem;
  margin: auto;
  display: block;
}
.finish-button{
margin-left: 68.5%;
}
.btton{
  border-color: #CFDAC8;
  padding: .5rem 2rem;
  border-radius: 1px;
  border-style: solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #000;
  background-color:#CFDAC8;
  margin-top: 1%;
  display: inline-block;
}
.finish-button:hover{
  border-style: solid;
  border-color: #CFDAC8;
  background-color: #fff;
}

.date{
  margin:0;
}
